In [13]:
import pandas as pd

In [10]:
import os
os.getcwd()

'c:\\Users\\bmiroux\\Documents\\projet\\ngeofr\\src'

In [16]:
df_init = pd.read_parquet("./params/table-dep.parquet")
df_init

#pd.read_parquet("C://Users//bmiroux//Documents//projet//ngeofr//src//params//table-historique-commune.parquet")
#pd.read_parquet("C:\\Users\\bmiroux\\Documents\\projet\\ngeofr\\src\\params\\table-historique-commune.parquet")

    insee_dep insee_reg cheflieu_dep                  lib_dep
0          01        84        01053                      Ain
1          02        32        02408                    Aisne
2          03        84        03190                   Allier
3          04        93        04070  Alpes-de-Haute-Provence
4          05        93        05061             Hautes-Alpes
..        ...       ...          ...                      ...
96        971        01        97105               Guadeloupe
97        972        02        97209               Martinique
98        973        03        97302                   Guyane
99        974        04        97411               La Réunion
100       976        06        97611                  Mayotte

[101 rows x 4 columns]

In [17]:
df = df_init[df_init.insee_comparent.isnull()]
df

AttributeError: 'DataFrame' object has no attribute 'insee_comparent'

In [54]:
# Au 1er janvier 2024, il y a 34935 communes
# Rajout de 9 autres collectivités

len(df) == 34935+9

True